.btn, .btn-chat, .btn-add-cart {
    display: flex;
    align-items: center;
}

.btn {
    position: absolute;
    bottom: 2.5%;
    left: 7.5%;
    width: 85%;
    border: none;
    border-radius: 1000px;
    justify-content: space-between;
}