/* black & white */

.text-white-color {
    color: #ffffff;
}

.bg-white-color {
    background-color: #ffffff;
}

/* default colors */

.default-bg-color {
    background-color: #40596B;
}

.default-bg-gray-color {
    background-color: #F2F2F2;
}

.default-bg-green-color {
    background-color: #29BE66;
}

.default-text-green-color {
    color: #29BE66;
}



