/* main container */

.overlay-section-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    min-height: 100px;
    z-index: 999;
    border-radius: 0 0 50px 50px;
}

.overlay-section {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.overlay-section-header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.overlay-section-header h4 {
    position: absolute;
    width: 100%;
    z-index: -1;
    text-align: center;
}


/* img container  */

.glide__slides {
    transition-duration: 1.25s !important;
    scroll-snap-type: x mandatory;
}

.glide__slide {
    scroll-snap-align: center;
}

.overlay-section-img {
    max-width: 100%;
    -webkit-filter: drop-shadow(-15px 15px 15px #cccccc);
    filter: drop-shadow(-15px 15px 15px #cccccc);
}

.glide__bullets {
    display: flex;
    justify-content: center;
}

.back-circle-effect {
    position: absolute;
    z-index: -1;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 68%;
    border-radius: 1000px;
    background-image: linear-gradient(#fff, transparent);
}

.glide__bullet--active::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    padding: 3px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.glide__bullets button {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    margin-right: 10px;
    outline: none;
}

/* colors */

.overlay-bg-gray-color {
    background-color: #F2F2F2;
}

.overlay-text-color {
    color: #76848B;
}

.glide__bullet--active::after {
    border: 1px solid #B9B9B9;
}

.product-bg-color-id-0 {
    background-color: #1F3F7F;
}

.product-bg-color-id-1 {
    background-color: #C8E93C;
}

.product-bg-color-id-2 {
    background-color: #CBCBCB;
}

/* animation */

.overlay-section-wrapper,
.overlay-section-header,
.back-circle-effect,
.glide__bullets,
.overlay-section-img,
.overlay-section-info-title,
.overlay-section-info-price,
.overlay-section-info-description {
    transition: all 1s;
}

.overlay-section-wrapper-animation {
    height: 12%;
}

.overlay-section-img-animation {
    transform: translate(-45%, -62%) scale(.15) !important;
}

.overlay-section-info-title-animation {
    transform: translate(0, -1240%) scale(.75);
}

.overlay-section-header-animation {
    transform: translateY(-2000%);
}

.overlay-reset-animation {
    overflow: visible !important;
}




